<div [formGroup]="rocketModel">


  <div *ngFor="let input of rocketFormConfiguration">
    <input [placeholder]="input.placeholder" [class.error]="rocketModel.controls[input.key].errors"
           [formControlName]="input.key" [required]="input.required"/>
    <br>
    <span style="color: red; font-size: 10px"
          *ngIf="rocketModel.controls[input.key].errors">
      {{ input.errorMessage }}
    </span>

    <br>
  </div>

<!--  <input placeholder="Rocket id"-->
<!--         [class.error]="rocketModel.controls.rocketId.errors"-->
<!--         formControlName="rocketId"/>-->

<!--  <br>-->

<!--  <span style="color: red; font-size: 10px"-->
<!--        *ngIf="rocketModel.controls.rocketId.errors?.required">-->
<!--    Rocket id is required-->
<!--  </span>-->

<!--  <br>-->
<!--  <br>-->
<!--  <br>-->

<!--  <input maxlength="20"-->
<!--         placeholder="Rocket name"-->
<!--         [class.error]="rocketModel.controls.name.errors"-->
<!--         formControlName="name"/>-->

<!--  <br>-->

<!--  <span style="color: red; font-size: 10px"-->
<!--        *ngIf="rocketModel.controls.name.errors?.required">-->
<!--    Name is required-->
<!--  </span>-->

<!--  <br>-->
<!--  <br>-->
<!--  <br>-->


<!--  <input type="number" placeholder="Countdown time" formControlName="time"/>-->

<!--  <br>-->

  <button class="submit"
          (click)="onFormSubmit()"
          [disabled]="!rocketModel.valid">
    Create rocket!
  </button>

</div>
