$error_color: #DB0B37;

button.launch-button {
  background-color: $error_color;
  font-weight: bold;
  color: white;
  border-radius: 50%;
  padding: 16px;
  width: 100px;
  height: 100px;
  transition: all 250ms;
  outline: none;
  opacity: 1;

  &:hover {
    cursor: pointer;
    box-shadow: 0 0 2px 8px rgba(0, 0, 0, 0.3);
  }

  &:focus {
    background-color: #A10A27;
    box-shadow: 0 0 2px 4px rgba(0, 0, 0, 0.5);
  }

  &.leaving {
    opacity: 0;
    pointer-events: none;
  }
}

input.error {
  border: 1px solid $error_color;
}

span.error {
  color: $error_color;
}

app-app-rocket {
  transition: all 2500ms ease-in;

  &.launched {
    opacity: 0.6;
    transform: translate(0, -300px);
  }
}
